# Token do bot do discord para conexão
token=

# Link que deseja ser reproduzido
url=https://www.youtube.com/watch?v=5qap5aO4i9A

# Id do canal de voz onde será reproduzido
channelId=

# Informações para coneção da lavalink
host_lavalink=lava.link
port_lavalink=80
password_lavalink=youshallnotpass
# Essas são infos de uma lavalink publica, caso tenha uma intancia lavalink sua, só mudar as informações de conxeção